<mat-card class="user-card">
    <div class="div5">
        <div class="vertical-stack align-center">
            <span>{{ user.id }}</span>
            <avatar [file]="user.image"></avatar>
        </div>
    </div>
    <div class="div1 vertical-stack">
        <span class="label">Name</span>
        <span class="value">{{ user.firstName + ' ' + user.lastName }}</span>
    </div>
    <div class="div2 vertical-stack">
        <span class="label">Address</span>
        <span class="value">{{ user.addressString() }}</span>
    </div>
    <div class="div3 vertical-stack">
        <span class="label">Age</span>
        <span class="value">{{ user.dobString() + " " + user.age }}</span>
    </div>
    <div class="div4 vertical-stack">
        <span class="label">Anuual Salary</span>
        <span class="value">{{ user.salaryString() }}</span>
    </div>
    <div class="div6">
        <button mat-icon-button (click)="editClick()">
            <mat-icon style="color: gray;">edit</mat-icon>
        </button>
    </div>
    <div class="div7">
        <button mat-icon-button color="warn" (click)="deleteClick()">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</mat-card>